.layout-container {
  margin: 0px;
}

.ui-location-wrapper {
  padding: 1rem 0.5rem;
  align-items: flex-start;
  /* gap: 1.25rem; */
  align-self: stretch;
}

.config-container {
  width: 23.5625rem;
  justify-content: start;
  gap: 0.25rem;
}

.label {
  font-size: 0.875rem;
}

.info {
  font-size: 0.875rem;
}

.location-description {
  width: 25.5625rem;
}

.location-description-text {
  white-space: nowrap;
  word-wrap: break-word;
}

.ui-location {
  list-style: circle;
  padding: 0;
  margin-top: -20px;
  width: 100%;
}

.taxonomy-validator {
  padding: 8px;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
}

.success {
    font-size: 24px;
    color: green;
}
.error {
    font-size: 24px;
    color: red;
}

.ui-container {
    width: 100%;
    padding: 0 12px;
}

.layout-container {
    display: block;
}